html {
    height: 100%;
}

body {
    background-image: url(field.png);
    background-size: cover;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    
}

img {
    height: 100px;
    position: relative;
    left:10px;
    top:10px;
}

#stop {
    position: absolute;
    right:10px;
    bottom: 20px;
}

#button {
    width: 150px;
    height: 40px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
}