body {

}

#first {
    list-style: circle;
}

#second {
    list-style: square;

}

#third {
    list-style: upper-alpha;
}

#forth {
    list-style: upper-roman;
}

#fifth {
    list-style-image: url(./slika.png)
}

.width_200 {
    width: 200px;
}

#sixth {
    list-style-position: inside;
}

#sixth::first-letter {
    font-size: 35px;
}
ul :n-th-of