header {
    width: 90%;
    margin: auto;
    position: relative;
}

header>img {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    width: 100%;
    display:block;
    padding: 5px 0;
    margin: auto;
}

li {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
}

li:nth-of-type(1) {
    border-radius: 10px 10px 0 0;
}

li:nth-of-type(3) {
    border-radius: 0 0 10px 10px;
}
article {
    width: 90%;
    margin: auto auto 20px;
    border: 1px solid gray;
    border-radius: 10px;

}

article>img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

p {
    padding: 0 10px;
}

@media (min-width: 768px) {

ul {
    position: absolute;
    top: 5%;
    left: 75%;
    float: right;
} 

li {
    display: inline-block;
    border: none;  
}

h1 {
    text-align: left;

}

}
