#area {
    height: 500px;
    width: 300px;
    border:1px solid gray;
    padding: 10px;
    overflow: scroll;
    background-color: bisque;
}

#input, #button {
    display: inline-block;
    margin: 5px 5px 5px 0;
}





